/target/
**/target/
/build/
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/coverage/
/darwin/.build/
/darwin/.swiftpm/
/darwin/Pods/
/darwin/DerivedData/
*.xcresult
*.dSYM
*.log
*.tmp
*.swp
.DS_Store
